body{
  background-color: black;
  color: gold;
}
.header{
  background-color:gold;
  color: black;
  text-align: center;
  text-decoration: underline;
}
h2{
  text-align: center;
  text-decoration: underline;
}
ul{
  text-align: center;
  font-style: italic;
}
img{
  float:center;
}
.article{
  text-align: center;
}
